html, body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: #111;
    font-family: sans-serif;
    font-optical-sizing: auto;
    color: white;
    font-weight: 200;
    transition: all .5s ease-in-out;
}

.sec-hide {
    height: auto;
    transition: all .5s ease-in-out;
}

h1, .h1 {
    font-size: 80px;
    line-height: normal;
}

h2, .h2 {
    font-size: 48px;
    line-height: normal;
    font-weight: bold;
    margin-bottom: 50px;
}

h3, .h3 {
    font-size: 24px;
}

h5, .h5 {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
    opacity: .6;
}

a {
    color: white;
}

.grad-text {
    background: -webkit-linear-gradient(180deg, #780ece, #224dbd, #6ce4ee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: visible;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.box {
    padding: 7.5%;
    background: rgb(23, 23, 23);
    border-radius: 16px;
    margin: 2.5%;
}

.box p {
    font-size: 21px;
    line-height: 34px;
    max-width: 600px;
}

.btn {
    display: inline-block;
    padding: 10px 20px !important;
    border: 1px solid rgba(255,255,255,.1);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: all .5s ease-in-out;
}

.btn:hover {
    background: rgba(0,0,0,.2);
    border: 1px solid rgba(255,255,255,.3)
}

/* header */

header {
    text-align: center;
    padding: 10px 0 0;
    margin: 0 2.5%;
}

header nav {
    display: flex;
    align-items: center;
    font-size: 15px;
}

header img {
    position: relative;
    width: 35px;
    height: 35px;
    vertical-align: middle;
    margin-right: 25px;
}

header {
    display: flex;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    display: inline-block;
    padding: 15px;
}

/* main */

main {
    padding: 0 25px;
    min-height: 70vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main h1 {
    margin-top: 20px;
    font-weight: 200;
    animation: reduceLetterSpacing 2s ease-in forwards;
}

@keyframes reduceLetterSpacing {
  from {
    opacity: 0;
    letter-spacing: 2px; /* Start with wide spacing */
  }
  to {
    opacity: 1;
    letter-spacing: normal; /* End with normal spacing */
  }
}

main h1 span {
    display: block;
    font-weight: 400;
}

main p {
    max-width: 600px;
    margin: 0 auto;
    font-size: 21px;
    line-height: 34px;
    opacity: .6;
}

.fund.box {
    background: url(img/minotaur-crypto.jpg) no-repeat top left;
    background-size: cover;
}

.different.box {
    background: url(img/platform.jpg) no-repeat top left;
    background-size: cover;
}

.structure {
    position: relative;
}

.structure:after {
    content: '';
    display: block;
    opacity: .1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(img/horizon.jpg) no-repeat top left;
    background-size: cover;
    z-index: 0;
}

.structure .grid {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr;
}

.structure ul li {
    font-size: 21px;
    margin-bottom: 20px;
}

.structure img {
    width: 200px;
    height: auto;
    margin-bottom: 50px;
}

blockquote {
    padding: 0;
    margin: 0;
}

.performance.box {
    background: url(img/graph.jpg) no-repeat top left;
    background-size: cover;
}

.performance .flex {
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.performance .stats {
    display: flex;
    gap: 50px;
}

.performance .stat {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    backdrop-filter: blur(8px);
    background: rgba(0,0,0,.2);
    border-radius: 8px;
    border: 1px solid rgba(255,255,255,.1);
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    display: flex;
    flex-direction: column;
    padding: 25px 75px;
    justify-content: center;
    align-items: center;
}

.performance .stat.minotaur {
    background: rgba(0,0,0,.5);
}

.performance .stat span {
    display: block;
    font-size: 18px;
    margin-top: 25px;
}

thead {
    background: rgba(255,255,255,.2);
    font-size: 12px;
}

td {
    padding-bottom: 5px !important;
}

tr.fund td {
    background: #f6d686;
    color: black;
}

tr.mino td {
    background: #f5c243;
    color: black;
    font-weight: bold;
}

.contact {
    max-width: 800px;
    margin: 10% auto;
    text-align: center;
}

.contact a {
    text-decoration: none;
    font-weight: bold;
}

.legal {
    font-size: 12px;
    margin: 0 5%;
    opacity: .7;
}

@media (max-width: 1000px) {
    h2, .h2 {
        font-size: 32px;
        margin-bottom: 25px;
    }
    .box p, .box p {
        font-size: 18px;
        line-height: 26px;
    }
    nav img {
        top: 8px;
    }
    nav a {
        display: none;
    }
    main h1 {
        font-size: 48px;
        line-height: 50px;
    }
    main p {
        font-size: 17px;
        line-height: 24px;;
    }
    .box {
        background-position: 30% center !important;
    }
    .box h2 {
        margin-top: 10px;
    }
    .structure .grid {
        gap: 50px;
        grid-template-columns: 1fr;
    }
    .structure img {
        margin-bottom: 25px;
        width: 150px;
    }
    .structure ul li {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .performance .flex {
        flex-direction: column;
    }
    .performance .flex .stats {
        flex-direction: column;
    }
    .legal {
        margin-top: 100px;
    }
}