body {
    background: #111;
    font-family: sans-serif;
    font-optical-sizing: auto;
    color: white;
    font-weight: 200;
}

h1, .h1 {
    font-size: 80px;
    line-height: normal;
    margin-top: 20px;
    animation: reduceLetterSpacing 1s ease-in-out forwards;
}

@keyframes reduceLetterSpacing {
  from {
    letter-spacing: 2px; /* Start with wide spacing */
  }
  to {
    letter-spacing: normal; /* End with normal spacing */
  }
}

h2, .h2 {
    font-size: 48px;
    line-height: normal;
}

h5, .h5 {
    font-size: 13px;
    text-transform: uppercase;
    color: #6ddcea;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

a {
    color: white;
}

.grad-text {
    background: -webkit-linear-gradient(180deg, #224dbd, #6ce4ee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: visible;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.box {
    padding: 10%;
    background: rgb(23, 23, 23);
    border-radius: 16px;;
}

header {
    text-align: center;
    padding: 10px 0 0;
}

header nav {
    display: flex;
    align-items: center;
    font-size: 15px;
}

header img {
    width: 35px;
    height: 35px;
    vertical-align: middle;
    margin-right: 25px;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header .container a {
    text-decoration: none;
    display: inline-block;
    padding: 15px;
}

main {
    min-height: 70vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main h1 {
    font-weight: 200;
}

main h1 span {
    display: block;
}

.fund .box {
    background: url(img/minotaur-crypto.jpg) no-repeat top left;
    background-size: cover;
}

.fund p {
    font-size: 21px;
    line-height: 30px;
    max-width: 600px;
}

blockquote {
    margin-bottom: 50px;
}

.btn {
    display: inline-block;
    padding: 10px 20px !important;
    border: 1px solid rgba(255,255,255,.2);
    color: white;
    text-decoration: none;
}

.btn:hover {
    background: rgba(255,255,255.5);
}

.structure .grid {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr;
}

thead {
    background: rgba(255,255,255,.2);
    font-size: 12px;
}

td {
    padding-bottom: 5px !important;
}

tr.fund td {
    background: #f6d686;
    color: black;
}

tr.mino td {
    background: #f5c243;
    color: black;
    font-weight: bold;
}

.legal {
    font-size: 11px;
}

@media (max-width: 1000px) {
    h1 {
        font-size: 30px;
    }
    blockquote {
        margin-bottom: 25px;
    }
    .structure .grid {
        gap: 10px;
        grid-template-columns: 1fr;
    }
    .returns {
        overflow-x: scroll;
        font-size: 12px;
    }

    .returns th.name, td.name { min-width: 150px; }

    .returns th.num, td.num { min-width: 75px; }
}